$govuk-global-styles: true;
@import '@id-sk/frontend/idsk/all';

.whiteBackground {
    background-color: govuk-colour('white');
}

.buttonLabel {
    display: flex;
    justify-content: center;
    align-items: center;

    .downArrow {
        margin-left: govuk-spacing(1);
    }
}

.button {
    margin-bottom: 0;
}
