@import '@isdd/idsk-ui-kit/src/utils.scss';

.tooltipBody {
    margin: 0 !important;
    color: govuk-colour('white') !important;
}

.tooltip {
    border: 1px solid govuk-colour('mid-grey') !important;
}
