@import '../../../utils.scss';
.buttonGroupEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: govuk-spacing(2);

    @include mq($until: tablet) {
        flex-direction: column;
    }
}

.deleteButton {
    margin-left: govuk-spacing(2);
    color: govuk-colour('red');
}
