/**
 * https://idsk.gov.sk/komponenty/farby
 */
$red: #D0190F;
$blue: #0065B3;
$dark-grey: #626A6E;
$pink: #D53880;
$grey-1: #626A6E;
$dark-red: #9E1912;
$dark-blue: #003078;
$mid-grey: #BFC1C3;
$ligt-pink: #F499BE;
$grey-2: #BFC1C3;
$yellow: #FFDF0F;
$ligt-blue: #2B8CC4;
$ligt-grey: #DEE0E2;
$orange: #F47738;
$grey-3: #DEE0E2;
$green: #00703C;
$purple: #4C2C92;
$ligter-grey: #F3F2F1;
$brown: #B58840;
$grey-4: #F3F2F1;
$dark-green: #204E2E;
$black: #0B0C0C;
$white: #FFFFFF;
$ligt-green: #85994B;
$grey-5: #949494;
$light-purple: #6F72AF;
$turquoise: #28A197;
$bright-purple: #912B88;
