/**
 * https://idsk.gov.sk/komponenty/farby
 */
$red: #d0190f;
$blue: #0065b3;
$dark-grey: #626a6e;
$pink: #d53880;
$grey-1: #626a6e;
$dark-red: #9e1912;
$dark-blue: #003078;
$mid-grey: #bfc1c3;
$ligt-pink: #f499be;
$grey-2: #bfc1c3;
$yellow: #ffdf0f;
$ligt-blue: #2b8cc4;
$ligt-grey: #dee0e2;
$orange: #f47738;
$grey-3: #dee0e2;
$green: #00703c;
$purple: #4c2c92;
$ligter-grey: #f3f2f1;
$brown: #b58840;
$grey-4: #f3f2f1;
$dark-green: #204e2e;
$black: #0b0c0c;
$white: #ffffff;
$ligt-green: #85994b;
$grey-5: #949494;
$light-purple: #6f72af;
$turquoise: #28a197;
$bright-purple: #912b88;
