@import '../../utils.scss';

.mobileOrder1 {
    @include mq($until: tablet) {
        order: 1;
    }
}

.submitButtonPadding {
    padding-top: govuk-spacing(2);
}

.red {
    color: govuk-colour('red');
}
