@import '@isdd/idsk-ui-kit/src/utils.scss';

.inlineSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.alignRight {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
}

.inline {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0 !important;
}

.inlineItem {
    flex-grow: 1;
    margin-bottom: 0 !important;
}
