@import '@isdd/idsk-ui-kit/src/utils.scss';

.inlineSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


.space {
    flex-grow: 1;
}

