<<<<<<<< HEAD:app/metais-portal/src/components/entities/accordion/informationGridRow.module.scss
@import '../../../utils.scss';
========
@import '../../utils.scss';
>>>>>>>> origin/MET-316/admin:packages/metais-common/src/components/info-grid-row/informationGridRow.module.scss

.textRow {
    margin-bottom: govuk-spacing(0) !important;
    @include mq($until: tablet) {
        margin-top: govuk-spacing(2) !important;
    }
}

.groupRow {
    @include mq($until: tablet) {
        margin-bottom: govuk-spacing(0);
    }
}
