@import '../../../utils.scss';

.basicInformationSpace {
    margin-bottom: govuk-spacing(4);
    .removeButton {
        float: right;
    }
}

.attributeGridRowBox {
    display: flex;
    gap: govuk-spacing(4);
    flex-direction: column;
}
