@import '@isdd/metais-common/src/utils.scss';

.successText {
    color: govuk-colour('green');
    font-weight: bold;
}

.successBlock {
    align-items: center;
    display: flex;
    padding: govuk-spacing(2) 0;
    margin-bottom: govuk-spacing(6);
    gap: govuk-spacing(3);
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.closeIconWrapper {
    display: flex;
    align-items: center;
    .closeIcon:hover{
        cursor: pointer;
    }
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}