@import '@isdd/idsk-ui-kit/src/utils.scss';

.bottomGap {
    margin-bottom: govuk-spacing(5);
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonLinksDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: govuk-spacing(2);
}
