$govuk-global-styles: true;
@import '../../utils.scss';

.modalWrapper {
    width: 960px;
}
.uppyContainer {
    width: 100%;
    position: relative;
    margin: govuk-spacing(7) 0;

    & div.absoluteDiv {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: govuk-colour('dark-grey');
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            p {
                margin: 0;
            }

            Button {
                margin: 0;
                margin-right: govuk-spacing(2);
                white-space: nowrap;
            }
        }
        @include mq($until: tablet) {
            position: static;
            top: auto;
            left: auto;
            transform: translateX(0%) translateY(0%);
            p {
                display: none;
            }
            div {
                flex-direction: column;

                p {
                    display: block;
                }
                Button {
                    margin: 0;
                    margin-bottom: govuk-spacing(2);
                    white-space: nowrap;
                }
            }
        }
    }
}

.headerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 48px;
        height: auto;
        margin-bottom: govuk-spacing(2);
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        div {
            margin: 0;
            margin-left: govuk-spacing(4);
        }

        @include mq($until: tablet) {
            flex-direction: column;
            align-items: start;

            div {
                margin-left: 0;
                margin-bottom: govuk-spacing(2);
            }
        }
    }
}

.dragdrop {
    z-index: 1;
    svg {
        display: none;
    }
    button {
        border-radius: 20px;
        background-color: #0065b30d; //from figma
        border-color: govuk-colour('blue');
    }
    @include mq($until: tablet) {
        display: none;
    }
}

.centeredButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    Button {
        margin: govuk-spacing(2);
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border-bottom: 1px solid govuk-colour('mid-grey');
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: govuk-spacing(2) 0;

        div {
            display: flex;
            p {
                margin-right: govuk-spacing(2);
            }

            * {
                margin-right: govuk-spacing(2);
            }
        }

        p {
            margin: 0;
        }
    }
}

.generalErrorWrapper {
    display: flex;
    justify-content: space-between;
}

.fileErrorWrapper {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;

        p {
            margin: 0;
            color: govuk-colour('red');
            font-weight: bold;
        }
}

.fileInfoWrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}


.errorWrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    img {
        align-self: flex-end;
        color: govuk-colour('red');
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            justify-content: center;
            align-items: start;
            padding: govuk-spacing(2) 0;
            margin: 0;

            p {
                margin: 0;
                color: govuk-colour('red');
                font-weight: bold;
            }

            img {
                margin: auto;
                margin-right: govuk-spacing(2);
            }
        }
    }
}

.greenBoldText {
    color: govuk-colour('green') !important;
    font-weight: bold !important;
    margin: 0 !important;
}

.statusBar {
    div {
        div {
            height: 5px;
            margin: 0;
            padding: 0;
            div {
                height: 5px;
                margin: 0;
                padding: 0;
                * {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
}

.fileInputButtonDiv {
    position: relative;

    @include mq($until: tablet) {
        width: 100%;
        height: 100%;
    }

    div {
        position: absolute;
        right: 0px;
        top: 0px;
        opacity: 0;
        width: 100%;
        height: 100%;

        div {
            div {
                button {
                    opacity: 0;

                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
