.inline {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.longer {
    flex-grow: 5;
}

.shorter {
    flex-grow: 2;
}

.spaceHorizontal {
    padding-right: govuk-spacing(6);
}
