@import 'src/assets/css/variables/colors';

.select-lazy-loading {
  .css-cp01gg-control {
    min-height: 0px !important;
  }

  .css-100ebu3-menu {
    left: 0px;
    top: 105% !important;
  }

  .select-option {
    padding: 5px 10px;
    & > span{
      color: $mid-grey
    }
    &:hover {
      background-color: $ligt-blue;
      color: $white;
    }
  }

  .select-lazy-loading:focus-within {
    outline: 3px solid $yellow;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }

  .menu {
    border: 0.5px solid;
    border-color: $grey-5;
    background-color: $white;
  }
}