@import '@isdd/metais-common/src/utils.scss';

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: govuk-spacing(4);
}

.buttonDiv {
    @include mq($from: tablet) {
        display: flex;
        gap: govuk-spacing(4);
    }
}
