@import '@isdd/idsk-ui-kit/src/utils.scss';

.displayFlex {
    display: flex;
    justify-content: center;
    margin-top: govuk-spacing(2);
}

.redColor {
    color: govuk-colour('red');
}

.positionRelative {
    position: relative;
}

.displayBlock {
    display: block;
}

.minHeight400 {
    min-height: 400px;
}

.fontWeightBolder {
    font-weight: bolder;
}

.checkBoxCell {
    width: 20px !important;
}

.head {
    position: sticky;
    top: 0px;
    z-index: 2;
    display: block !important;
    overflow: auto;

    @include mq($until: desktop) {
        top: 122.5px;
    }
}

.header {
    background-color: govuk-colour('grey-4');
    padding-left: govuk-spacing(1) !important;
}

.rowSelected {
    background-color: govuk-colour('grey-4');
}

.body {
    max-height: 800px;
    max-width: 2500px;
}

.displayFlex {
    display: flex;
    max-width: 960px;
    overflow-x: scroll;
}

.columnHeaderStrong {
    display: flex;
    justify-content: start;
    align-items: start;
}

.row {
    display: block !important;
    max-width: 2500px !important;
    overflow: auto;
}

.headerRow {
    max-width: 2500px !important;
}

.paddingLeft {
    padding-left: govuk-spacing(1) !important;
}

.rowHover {
    :hover {
        cursor: pointer;
    }
}

tr:hover td {
    background-color: govuk-colour('grey-4');
}
