@import '@id-sk/frontend/idsk/all';

.displayFlex {
    display: flex;
    justify-content: center;
    margin-top: govuk-spacing(2);
}

.redColor {
    color: govuk-colour('red');
}

.positionRelative {
    position: relative;
}

.minHeight400 {
    min-height: 400px;
}

.checkBoxCell {
    width: 40px;
}

.marginBottom0 {
    margin-bottom: 0px !important;
}

.head {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header {
    background-color: govuk-colour('grey-4');
}

.body {
    max-height: 800px;
}