@import '@isdd/idsk-ui-kit/src/utils.scss';

.popupBoxStyle {
    background-color: govuk-colour('mid-grey');
    display: flex;
    padding: govuk-spacing(2);
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: govuk-spacing(4);
    @include mq($until: desktop) {
        flex-direction: column;
    }
}

.stickyStyles {
    display: flex;
    justify-content: center;
    z-index: 100;
}

.marginBottom0 {
    margin-bottom: 0 !important;
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.flexMobileClose {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
