$govuk-global-styles: true;
@import '@id-sk/frontend/idsk/all';

.notificationIcon {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: govuk-colour('red');
    color: govuk-colour('white');
    border-radius: 10px;
    font-size: 10px;
    padding: 1px 4px 1px 4px;
    border: 2px solid govuk-colour('white');
}

.notificationIconList {
    margin-left: govuk-spacing(2);
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notificationListItem {
    position: relative;
    margin-left: govuk-spacing(2);
    margin-right: govuk-spacing(2);
}

.fullWidth {
    width: 100% !important;
}

.noWrap {
    white-space: nowrap;
}

.loginProfile {
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-left: govuk-spacing(2)
}

.displayFlex{
    display: flex
}

.displayNone{
    display: none;
}

.registerLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: govuk-spacing(4);
}

.iconGroupDesktop {
    @include mq($until: desktop) {
        display: none;
    }
}
.iconGroupMobile {
    @include mq($from: desktop) {
        display: none;
    }
}
