@import '@isdd/idsk-ui-kit/src/utils.scss';

.reactControl {
    min-height: 0px !important;
}

.reactSelectOption {
    padding: govuk-spacing(1) govuk-spacing(2);

    &>span {
        color: govuk-colour('grey-1');
    }

    &:hover {
        background-color: govuk-colour('light-blue');
        color: govuk-colour('white');
        &>span {
            color: govuk-colour('white');
        }
    }
   
}

.reactMenu {
    left: 0px;
    top: 105% !important;
}