@import '@isdd/idsk-ui-kit/src/utils.scss';

.modalHeading {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: govuk-spacing(4);
}

.noMargin {
    margin-bottom: 0 !important;
}

.marginBottom15 {
    margin-bottom: govuk-spacing(3) !important;
}
.marginBottom30 {
    margin-bottom: govuk-spacing(6) !important;
}

.buttonPadding {
    padding: govuk-spacing(2) !important;
}
.legend {
    margin-bottom: 0 !important;
}
.fieldSet {
    padding: govuk-spacing(4) !important;
}
.actions {
    display: flex;
    flex-direction: column;
    gap: govuk-spacing(4);
}
