@import '@id-sk/frontend/idsk/all';

.paginationDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq($until: desktop) {
        flex-direction: column;
        justify-content: center;
    }
}

.text {
    color: govuk-colour('dark-grey');
    margin: 0;
}
