@import '@isdd/idsk-ui-kit/src/utils.scss';

.selectLazyLoading {
    height: fit-content !important;

    &:focus-within {
        outline: 3px solid govuk-colour('yellow');
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px;
    }
}