@import '@isdd/idsk-ui-kit/src/utils.scss';

.selectLazyLoading {
    height: fit-content !important;

    &:focus-within {
        outline: 3px solid govuk-colour('yellow');
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px;
    }
}

.reactSelectMenuList {
    border: 0.5px solid;
    border-color: govuk-colour('grey-5');
    background-color: govuk-colour('white');
    z-index: 10 !important;
}

.labelDiv {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
