@import '@id-sk/frontend/idsk/all';

.buttonLink {
    background: none;
    border: none;
    text-decoration: underline;
    @include govuk-typography-responsive(19);
    cursor: pointer;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $govuk-error-colour;
    }

    &:focus {
        @include govuk-focused-text;
    }
}
