.statusBar {
    div {
        div {
            height: 5px;
            margin: 0;
            padding: 0;
            div {
                height: 5px;
                margin: 0;
                padding: 0;
                * {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
}
