@import '@isdd/idsk-ui-kit/src/utils.scss';

.withMargin {
    margin-bottom: govuk-spacing(6) !important;
    margin-top: govuk-spacing(2) !important;
}

.myPODiv {
    display: flex;
    align-items: center;
    @include mq($until: tablet) {
        display: block;
    }
}
