.closeButton {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.displayFlexCenter {
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

.transparentButton {
    background-color: transparent;
    border: none;
    display: flex;
}