.closeButton {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.displayFlexCenter {
    display: flex;
    align-items: center;
}
