$govuk-global-styles: true;

@import '@id-sk/frontend/idsk/all';

@import 'utils.scss';

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.marginBottom0 {
    margin-bottom: govuk-spacing(0) !important;
}

.tooltipWidth500 {
    max-width: 500px;
}

.idsk-table p {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

.wiki {
    h1:not([class*='govuk-accordion']) {
        @extend .govuk-heading-xl;
    }

    h2:not([class*='govuk-accordion']) {
        @extend .govuk-heading-l;
    }

    h3 {
        @extend .govuk-heading-m;
    }

    h4 {
        @extend .govuk-heading-s;
    }

    ul {
        @extend .govuk-list;
        @extend .govuk-list--bullet;
    }

    ol {
        @extend .govuk-list;
        @extend .govuk-list--number;
    }

    .wikimodel-emptyline {
        @extend p;
        clear: both;
    }

    table {
        @extend .idsk-table;

        tr {
            @extend .idsk-table__row;

            th {
                @extend .idsk-table__header;
            }

            td {
                @extend .idsk-table__cell;
            }
        }

        thead {
            @extend .idsk-table__head;
        }

        tbody {
            @extend .idsk-table__body;
        }
    }
}

.attr-highlight {
    b {
        background-color: govuk-colour('yellow') !important;
    }
}
