@import '@isdd/idsk-ui-kit/src/utils.scss';

.buttonLink {
    background: none;
    border: none;
    text-decoration: underline;
    @include govuk-typography-responsive(19);
    cursor: pointer;

    &:focus {
        @include govuk-focused-text;
    }
}

.iconInButtonLink {
    width: 17px;
    height: 17px;
    margin-right: 12px;
}

.disabled {
    color: govuk-colour('mid-grey') !important;
    cursor: default;
}
