@import '../../../../utils.scss';

.listActionsHeading {
    display: flex;
    margin-bottom: govuk-spacing(4);
    margin-top: govuk-spacing(2);

    @include mq($until: tablet) {
        flex-direction: column;
        align-items: flex-end;
    }
}

.listActionsButton {
    display: flex;
    gap: govuk-spacing(2);
    align-items: center;
    flex: 1;
    margin-right: govuk-spacing(2);

    @include mq($until: tablet) {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
        margin-bottom: govuk-spacing(6);
    }
}

.selectGroup {
    display: flex;
    align-items: center;
    margin-bottom: govuk-spacing(0) !important;

    label:first-child {
        margin-right: govuk-spacing(3);
    }
}
