@import '@isdd/idsk-ui-kit/src/utils.scss';
.marginLeftAuto {
    margin-left: auto;
}

.fontWeightBolder {
    font-weight: bolder !important;
}

.displayFlex {
    display: flex;
}

.marginBottom0 {
    margin-bottom: 0 !important;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    gap: govuk-spacing(2);

    @include mq($until: tablet) {
        flex-direction: column;
    }
}
