@import '@isdd/idsk-ui-kit/src/utils.scss';

.dl {
    display: flex;
    flex-direction: column;
}
.dt {
    font-weight: bold !important;
    p,
    span {
        font-weight: bold !important;
    }
}
.dd {
    flex-basis: 70%;
    flex-grow: 1;
}

.valueRed {
    color: govuk-colour('red') !important;
}

.groupRow {
    @include mq($until: tablet) {
        margin-bottom: govuk-spacing(0);
    }
}
.labelWrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    dt {
        margin: 0;
    }
}
