@import '@isdd/idsk-ui-kit/src/utils.scss';

.removeButton {
    color: govuk-colour('red') !important;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    @include mq($until: desktop) {
        flex-direction: column;
    }
}