@import '@isdd/idsk-ui-kit/src/utils.scss';

.container {
    align-items: center;
    display: flex;
    padding: govuk-spacing(2) 0;
    margin-bottom: govuk-spacing(6);
    gap: govuk-spacing(3);
}
