@import '@isdd/idsk-ui-kit/src/utils.scss';

.buttonGroupRow {
    align-items: center;
    display: flex;
    gap: govuk-spacing(3);
}

.buttonGroupColumn {
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: govuk-spacing(3);
}
