@import '@isdd/idsk-ui-kit/src/utils.scss';

.expandableRowContent {
    padding: govuk-spacing(4);
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonLinksDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: govuk-spacing(2);
}

.fieldset {
    padding: govuk-spacing(4);
    margin: 0;
    margin-bottom: govuk-spacing(4);
}

.row {
    display: flex;
    align-items: end;
}

.checkbox {
    margin-bottom: govuk-spacing(6);
}

.grey {
    color: govuk-colour('dark-grey') !important;
}
