@import '@isdd/idsk-ui-kit/src/utils.scss';

.centerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maxWidth {
    width: 100%;
    max-width: 630px;
}

.borderBottom {
    border-bottom: 1px solid govuk-colour('mid-grey');
    margin-bottom: govuk-spacing(4);
}

.blue {
    color: govuk-colour('blue');
}

.grey {
    color: govuk-colour('mid-grey') !important;
}

.darkGrey {
    color: govuk-colour('dark-grey') !important;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: govuk-spacing(4);

    @include mq($until: tablet) {
        flex-direction: column;
    }

    @include mq($from: tablet) {
        button:last-child {
            margin-left: auto;
        }
    }
}

.noBottomMargin {
    margin-bottom: 0 !important;
}
