@import '../../../utils.scss';
.row {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.boldText {
    font-weight: bold !important;
    white-space: nowrap;
}
.marginLeftAuto {
    margin-left: auto;
}

.marginVertical20 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.greenBoldText {
    color: govuk-colour('green') !important;
    font-weight: bold !important;
    margin: 0 !important;
}
