@import '../../src/utils.scss';

.container {
    display: grid;
    grid-template-columns: 125px minmax(100px, 1fr) minmax(70px, 1fr) repeat(9, minmax(0, 1fr));
}

.content {
    grid-column: 4 / 13;
    max-width: 1200px;
    @include mq($until: desktop) {
        grid-column: 1/13;
    }
}

.closedContent {
    grid-column: 2 / 13;
    @include mq($until: desktop) {
        grid-column: 1/13;
    }
}

.sidebarContainer {
    grid-column: 1 / 4;
    display: flex;
    height: max-content;
    max-height: 100%;
    @include mq($until: desktop) {
        display: none;
    }
}

.closedSidebar {
    grid-column: 1 / 2;
}

.hide {
    display: none;
}

.unhide {
    display: block;
}

.sectionHeader {
    display: flex;
    align-items: center;
    margin: 0;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.sectionHeaderButton {
    text-decoration: none;
    font-weight: normal;
    margin-right: auto;
}

.arrow {
    margin-right: govuk-spacing(2);
    margin-left: govuk-spacing(2);
    width: govuk-spacing(2);
    height: govuk-spacing(2);
}

.expanded {
    font-weight: bold;
}

.hover {
    &:hover {
        cursor: pointer;
    }
}

.safeMargin {
    margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
}

.sidebarRow {
    margin-bottom: govuk-spacing(2);
}

.sidebarlink {
    text-decoration: none;
    color: govuk-colour('black') !important;
    display: flex;
    flex-direction: column;
    &:visited {
        color: govuk-colour('black') !important;
    }
    &:hover {
        text-decoration: underline;
    }
}

.sectionsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    height: max-content;
    padding: 5px;
    margin-bottom: govuk-spacing(4);
}

.closesSectionsContainer {
    width: 65%;
}

.closeSidebarButton {
    width: govuk-spacing(4);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: govuk-spacing(4);
    padding: 0;
    border: 0px;
    font-size: x-small;
    color: govuk-colour('dark-grey');
}

.rotate {
    transform: rotate(-90deg);
}

.rotateClockWise {
    transform: rotate(90deg);
}

.sidebarButtonIcon {
    width: govuk-spacing(2);
    height: govuk-spacing(2);
}

.img {
    width: govuk-spacing(6);
    margin: auto;
}

.smallSidebarText {
    margin: auto;
    font-size: x-small;
    text-align: center;
}

.smallSidebarDivider {
    margin-bottom: govuk-spacing(2);
}
