@import '../../utils.scss';

.halfWidth {
    width: 50%;
    @include mq($until: tablet) {
        width: 100%;
    }
}

.buttonWithMargin {
    margin-right: govuk-spacing(4);
}

.buttonGroup {
    margin-top: govuk-spacing(4);
}
