@import '@isdd/idsk-ui-kit/src/utils.scss';

.selectGroup {
    display: flex;
    align-items: center;
    margin-left: govuk-spacing(2);
    margin-bottom: govuk-spacing(0) !important;

    label:first-child {
        margin-right: govuk-spacing(3);
        margin-bottom: govuk-spacing(0) !important;
    }
}
