@import '@isdd/idsk-ui-kit/src/utils.scss';

.buttonSpacing {
    margin-right: govuk-spacing(2);
}

.iconList {
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
}
.actions {
    display: flex;
    flex-direction: column;
    gap: govuk-spacing(4);
}
.tooltipIcon {
    margin-right: 10px;
}
