@import '@isdd/idsk-ui-kit/src/utils.scss';

.taskDetailGrid {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    label {
        font-weight: 700;
    }
    margin-bottom: govuk-spacing(3);
}

.marginTop30 {
    margin-top: govuk-spacing(6) !important;
}

.selectOption {
    padding: govuk-spacing(1) !important;
}

.selectOption:hover {
    background-color: govuk-colour('grey-4') !important;
}
