@import '@isdd/idsk-ui-kit/src/utils.scss';

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    @include mq($until: desktop) {
        flex-direction: column;
    }
}

.buttonContainerSection {
    justify-content: flex-start;
}

.text {
    overflow-y: visible !important;
    overflow-x: visible !important;
    margin-bottom: 0 !important;
}

.textWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
