@import '../../../../utils.scss';

.connectionBox {
    display: flex;
    gap: govuk-spacing(4);
    justify-content: space-evenly;

    a {
        padding-left: govuk-spacing(4);
    }

    .connectionItemsGap {
        padding-bottom: govuk-spacing(4);
    }
}
