@import '@isdd/idsk-ui-kit/src/utils.scss';

.infoIcon {
    padding-right: govuk-spacing(1);
    cursor: help;
}

.infoIconGroup {
    display: flex;
    align-items: center;
    padding: govuk-spacing(0);
    margin: govuk-spacing(0);
}
