@import '@isdd/idsk-ui-kit/src/utils.scss';

.itemTitle {
    font-weight: bold !important;
    margin: 0 !important;
    padding-right: 50px;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}

.itemsTable {
    width: max-content;
}

.itemsTableRow {
    height: 50px;
}

.itemsTableCellContent {
    display: contents;
}

.linkAlign {
    padding-right: 20px;
}

.spaceVertical {
    padding-bottom: 30px;
}