.rowWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rowDataWrapper {
    display: flex;
    flex-direction: column;
}

.address {
    font-style: italic;
    font-size: 0.7em;
}

.toggleWrapper {
    width: 1.1rem;
    height: 1.1rem;
    position: relative;
}

.spinner {
    animation: spin 2s linear infinite;
    width: 24px;
    height: 24px;
}

.expandIcon {
    width: 100%;
    cursor: 'pointer';
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate0 {
    transform: rotate(0);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
