@import '@isdd/idsk-ui-kit/src/utils.scss';

.headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.marginBottom {
    margin-bottom: govuk-spacing(9);
}

.circleZIndex {
    z-index: 2 !important;
}
