@import '@isdd/idsk-ui-kit/src/utils.scss';

$formMaxHeight: 500px;

.formWrapper {
    padding: govuk-spacing(5);
    gap: govuk-spacing(3);
}

.expandButton {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.heading {
    width: calc(100% - 200px);
}

.headingWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: govuk-spacing(2);
}

.clearButton {
    color: govuk-colour('red');
    display: inline-block;
    margin-right: 30px;
    padding: (govuk-spacing(2) - $govuk-border-width-form-element) govuk-spacing(2)
        (govuk-spacing(2) - $govuk-border-width-form-element - calc($govuk-border-width-form-element/ 2)); // s1

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: govuk-colour('dark-red');
    }
}

.actionRow {
    text-align: right;
}

.animate {
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

.animate.grow {
    max-height: $formMaxHeight;
    transition: max-height 0.4s ease-in;
}

.form {
    overflow: auto;
}
