@import '@isdd/idsk-ui-kit/src/utils.scss';

$formMaxHeight: 500px;


.wrapper {
    margin-top: 10px;
    margin-bottom: 27px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.expandButton {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.borderless {
    background: none!important;
    border: none;
    padding: 0!important;
}

.heading {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headingWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.animate {
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

.animate.grow {
    max-height: $formMaxHeight;
    transition: max-height 0.4s ease-in;
}

