@import '@isdd/idsk-ui-kit/src/utils.scss';

.textRow {
    margin-bottom: govuk-spacing(0) !important;
    @include mq($until: tablet) {
        margin-top: govuk-spacing(2) !important;
    }
}

.groupRow {
    @include mq($until: tablet) {
        margin-bottom: govuk-spacing(0);
    }
}

.infoText {
    font-size: 16px;
}

.diffIns {
   color: govuk-colour('green');;
    background: govuk-tint(govuk-colour('green'), 90) !important;
    text-decoration-style: double;
}

.diffDel {
    color: govuk-colour('red');
    background: govuk-tint(govuk-colour('red'), 90) !important;
}

.attributeGridRowBox {
    display: flex;
    gap: govuk-spacing(4);
    flex-direction: column;
}
