.ul li a {
    text-decoration: underline !important;
    font-size: small;
}

.liMaxWidth {
    max-width: 330px !important;
}

.metaDiv {
    justify-content: left !important;
    align-items: start !important;
}

.metaList {
    padding: 0px 15px;
    margin-top: -30px;
}