$govuk-global-styles: true;

@import '@id-sk/frontend/idsk/all';

@import 'utils.scss';

.marginBottom0 {
    margin-bottom: govuk-spacing(0) !important;
}

body {
    margin: 0px
}

.idsk-table p{ 
    overflow-y: visible !important;
    overflow-x: visible !important;
}

.tooltipWidth500 {
    max-width: 500px;
}