@import '@isdd/idsk-ui-kit/src/utils.scss';

.textFormat {
    font-weight: 700;
    font-size: 1.5rem;
}

.inlineSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.collapsibleSign {
    font-size: xx-large;
}
